<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign authors</title>
</head>
<body>
    <h2>Assign authors to a book</h2>
    <form method="post">
        <table>
            <tr>
                <td>
                    {% for book in books %}
                    <input type="radio" name="books" value={{ book.id }}>
                    <label>{{ book.id }}. {{ book.title }} {{ book.year }}</label><br>
                    {% endfor %}
                </td>
                <td>
                    {% for author in authors %}
                    <input type="radio" name="authors" value={{ author.id }}>
                    <label>{{ author.id }}. {{ author.name }} {{ author.surname }} </label><br>
                    {% endfor %}
                <td>
                    <input type="submit">
                </td>
            </tr>
        </table>
    </form>
    <h2>Relations table:</h2>
    <table>
         <thead>
            <tr>
               <th>id</th>
               <th>Book ID</th>
               <th>Author ID</th>
            </tr>
         </thead>
         <tbody>
            {% for item in bookauthors %}
               <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.book_id }}</td>
                  <td>{{ item.author_id }}</td>
                  <td>
                      <a href="/delete/relation/{{ item.id }}">
                        <button style="height:40px;width:100px">Delete</button>
                      </a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
    <br>
    <br>
    <a href="/"><button style="height:60px;width:150px">Back to homepage</button></a>
</body>
</html>