<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book library</title>
</head>
<body>
    <h2>Welcome to library management system!</h2>
    <h3>What would you like to do?</h3>
    <table>
        <tr>
            <td>
                <a href="/add/book/">
                    <button style="height:60px;width:100px">Add a book</button>
                </a>
            </td>
            <td>
                <a href="/add/author/">
                    <button style="height:60px;width:100px">Add an author</button>
                </a>
            </td>
            <td>
                <a href="/add/relation/">
                <button style="height:60px;width:100px">Assign an author to a book</button>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>